.bordered {
  background-color: #e1ffff;
}
.size-div {
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
}
.bordered {
  background-color: #e1ffff;
}
.size-div {
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
}
.font {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
}
.algin {
  display: flex;
  justify-content: space-between;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 3;
}
.container-colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-colors__fiolet {
  background-color: #6e1bff;
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
}
.container-colors__pink {
  background-color: #ff1bac;
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
}
.container-colors__blue {
  background-color: #ff1b86;
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
}
.container-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container-text__row1 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.container-text__row2 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.container-text__row3 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.text {
  background-color: #e1ffff;
  float: left;
  width: 300px;
  height: 150px;
  margin: 20px 20px 20px 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
}
.tool {
  cursor: help;
  position: relative;
}
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  z-index: 1;
}
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em ;
  border-color: #3e474f transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  top: -2em;
  transition: opacity 3s ease, top 1s ease;
}
.tool:hover::before,
.tool:focus::before {
  top: -1em;
}
.tool::after {
  background: #3e474f;
  border-radius: 0.25em;
  bottom: 178%;
  color: #edeff0;
  content: attr(data-tooltip);
  margin-left: -8.75em;
  padding: 1em;
  width: 17.5em;
  transition: opacity 0.6s ease;
}
