body{
	background-image: url(../images/background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.page-header{
	height: 80px;
	display: flex;
	flex direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	flex-wrap: nowrap;
	overflow: hidden;

}
.page-footer{
	height: 80px;
	display: flex;
	flex direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	flex-wrap: nowrap;
	overflow: hidden;

}
#imgLogo{
	width: 100px;
	height: 50px;

}
.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav-bar__text{
	position: absolute;
	left:50%;
}
.link{
	margin-right: 5px;
}

.nav-bar__link-home{
	height: 40px;
}
.nav-bar__link-form{
	height: 40px;
}
.nav-bar__link-contacts{
	height: 40px;
}
.main-form{
width: 50%;
/*height: 100%;*/
display: flex;
flex-direction: column;
flex-wrap: nowrap;
flex-grow: 1;
overflow: auto;
min-height: 2em;
}

.first-div{
	
	flex-direction: row;
	flex-direction: column;
}
.first-div__elem
{
	display: flex;
	flex-direction: row;
	height: 50px;
	align-items: center;
	justify-content: flex-start;
}
/*.first-div__elem:nth-child(odd){
	background-color: yellow;
}
.first-div__elem:nth-child(even){
	background-color: red;
	}*/

	.link-home:visited{
		color:green;
	}
	.link-form:active{
		color: pink;
	}
	.link-contacts:hover{
		color: black;
	}


	.first-div__title:before{
		content: open-quote;
	}

	.first-div__title:after{
		content: close-quote;
	}
